doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/assets/css/main.css")
    script(src="/assets/js/main.js" defer)
    title Document
  
body
  main.main.cont
    p Hello there
    section.t-1
      button.btn Hello btn from pug
      p qweqweqw