/** FONTS **/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

/** BASE **/
:root {
  --link-color: #0d6efd;
}

html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

a {
  color: var(--link-color);
}

input {
  font-family: inherit;
  font-size: 0.8em;
  padding: 0.4em;
}
input[type="radio"] {
  min-width: initial;
}

select {
  font-size: .8em;
  padding: .35em;
}

/** STYLES **/
.tac {
  text-align: center;
}

/** COMPONENTS **/
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}